<div class="card">
  <div class="card-body">
    <form [formGroup]="formFiltrar" (ngSubmit)="filtrar()">
      <h4>Grupo de Clientes</h4>
      <hr>
      <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nome" placeholder="Este filtro faz distinção entre maiúsculas e minúsculas" formControlName="nome">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Ativo</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ativo" formControlName="ativo">
            <label class="form-check-label" for="ativo">
              Ativo
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-filter"></i>&nbsp;Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">

    <a routerLink="/grupo-cliente-add" class="btn btn-primary btn-sm mb-2">
      <i class="fas fa-plus"></i>&nbsp;Novo
    </a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Ativo</th>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grupo of grupos | async">
          <td>{{ grupo.ativo ? 'Sim' : 'Não' }}</td>
          <td>{{ grupo.nome }}</td>
          <td>
            <a routerLink="/grupo-cliente-edit/{{ grupo.id }}" class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i>
            </a>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="excluir(grupo.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>