<div class="card">
  <div class="card-body">
    <form *ngIf="!carregando" (ngSubmit)="salvar()" [formGroup]="formGrupo">

      <div class="form-group row">
        <div class="col-sm-2">Ativo</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ativo" formControlName="ativo">
            <label class="form-check-label" for="ativo">
              Ativo
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [class.is-invalid]="nome.invalid && (nome.dirty || nome.touched)"
            id="nome" formControlName="nome">
          <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="invalid-feedback">
            Informe o nome.
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-save"></i>&nbsp;Salvar</button>&nbsp;
      <a routerLink="/grupo-cliente-list" class="btn btn-light mb-2">Cancelar</a>
    </form>

    <p *ngIf="carregando">
      Carregando...
    </p>
  </div>
</div>